@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reset margins/padding và thiết lập box-sizing */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove list styles */
ul, ol {
    list-style: none;
}

/* Reset link styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove button default styles */
button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

/* Reset form elements */
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    border: 1px solid #ddd;
    outline: none;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

:root {
    --dark-blue: #003459;
    --dark-blue-40: #0078CD;
    --dark-blue-60: #00528C;
    --dark-blue-80: #002A48;

    --moon-yellow-40: #FCEED5;
    --moon-yellow-60: #F1D092;
    --moon-yellow-80: #EEC77E;
    --moon-yellow: #F7DBA7;

    --pink-red: #FF564F;
    --green-light: #34C759;
    --orange-shine: #FF912C;
    --blue-sea: #00A7E7;

    --neutral-color-100: #00171F;
    --neutral-color-80: #242B33;
    --neutral-color-60: #667479;
    --neutral-color-40: #99A2A5;
    --neutral-color-20: #CCD1D2;
    --neutral-color-10: #EBEEEF;
    --neutral-color-0: #FDFDFD;

    --font-primary: 'Be Vietnam Pro', sans-serif;
}

/* Container */
@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Header */
.header {
    padding: 30px 0;
}

.header .inner-wrap {
    display: flex;
    align-items: center;
}

.header .inner-logo .inner-image {
    width: auto;
    height: 40px;
    position: relative;
    z-index: 1;
}

.header .inner-menu {
    flex: 1;
    margin-left: 48px;
}

.header .inner-menu .inner-list {
    display: flex;
}

.header .inner-menu .inner-list .inner-item {
    margin-right: 48px;
}

.header .inner-menu .inner-list .inner-item:last-child {
    margin-right: 0;
}

.header .inner-menu .inner-list .inner-item .inner-link {
    font-size: 14px;
    color: var(--dark-blue);
    font-weight: bold;
}

.header .inner-search {
    display: flex;
    align-items: center;
    padding: 12px 79px 12px 16px;
    border-radius: 46px;
    background-color: var(--neutral-color-0);
}

.header .inner-search .button-search {
    font-size: 20px;
    color: var(--neutral-color-60);
    margin-right: 12px;
}

.header .inner-search .input-search {
    border: none;
    font-size: 14px;
    color: var(--neutral-color-40);
}

.header .inner-button {
    display: inline-flex;
    background-color: var(--dark-blue);
    padding: 14px 28px;
    border-radius: 57px;
    color: var(--neutral-color-0);
    font-size: 16px;
    font-weight: bold;
    margin-left: 14px;
}

.header .inner-language {
    margin-left: 14px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-language .inner-logo-country {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #D80027;
    margin-right: 6px;
}

.header .inner-language .inner-logo-country i {
    color: #FFDA44;
    font-size: 8px;
}

.header .inner-language .inner-country {
    font-size: 16px;
    color: var(--dark-blue-80);
    margin-right: 4px;
}

.header .inner-language .inner-icon-down {
    color: var(--dark-blue-80);
}

/* Hero section */
.hero {
    overflow: hidden;
    margin-top: -115px;
    padding-top: 115px;
    border-radius: 0 0 40px 40px;
    background: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

.hero .inner-wrap {
    display: flex;
    position: relative;
}

.hero .inner-wrap .inner-bg-four {
    position: absolute;
    top: -12vw;
    left: -18vw;
}

.hero .inner-content {
    width: 50%;
    margin-top: 80px;
    position: relative;
}

.hero .inner-content .inner-bg-one {
    position: absolute;
    left: -1vw;
    top: calc(1vw - 5px);
}

.hero .inner-content .inner-bg-one img {
    width: 68px;
    height: 68px;
}

.hero .inner-content .inner-bg-two {
    position: absolute;
    top: 32vw;
    left: -25vw;
}

.hero .inner-content .inner-title {
    position: relative;
    z-index: 1;
    text-transform: capitalize;
    color: var(--dark-blue-80);
    font-size: 60px;
    margin-bottom: 5px;
}

.hero .inner-content .inner-sub-title {
    font-size: 46px;
    text-transform: capitalize;
    color: var(--dark-blue-80);
    margin-bottom: 24px;
}

.hero .inner-content .inner-description {
    color: var(--neutral-color-80);
    font-size: 16px;
    padding-right: 100px;
    margin-bottom: 34px;
}

.hero .inner-content .inner-buttons .inner-button-left {
    padding: 14px 28px;
    margin-right: 20px;
    border-radius: 57px;
    font-size: 16px;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    display: inline-flex;
    align-items: center;
}

.hero .inner-content .inner-buttons .inner-button-left i {
    font-size: 24px;
    margin-left: 8px;
}

.hero .inner-content .inner-buttons .inner-button-right {
    padding: 14px 30px;
    border-radius: 57px;
    font-size: 16px;
    color: var(--neutral-color-0);
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
}

.hero .inner-image  {
    position: relative;
    width: 50%;
}

.hero .inner-image .inner-hero-image {
    width: 100%;
    margin-bottom: -7px;
    position: relative;
    z-index: 1;
}

.hero .inner-image .inner-bg-three {
    position: absolute;
    width: calc(100% + 200px);
    bottom: 0;
    left: -100px;
}

/* Pets showcase section */
.pets-showcase {
    padding: 60px 0;
}

.pets-showcase .inner-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.pets-showcase .inner-head .inner-content .inner-sub-title {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 2px;
}

.pets-showcase .inner-head .inner-content .inner-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue);
}

.pets-showcase .inner-head .inner-button {
    padding: 12px 28px;
    font-size: 14px;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 57px;
}

.pets-showcase .inner-main {
    display: flex;
    flex-wrap: wrap;
}

.pets-showcase .inner-main .inner-item {
    width: calc(100%/4 - 84px/4);
    padding: 8px 8px 0 8px;
    border-radius: 12px;
    margin-right: 28px;
    margin-bottom: 28px;
    box-shadow: 0 4px 28px -2px rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
}

.pets-showcase .inner-main .inner-item:nth-child(4n) {
    margin-right: 0;
}

.pets-showcase .inner-main .inner-item .inner-image {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 8px;
}

.pets-showcase .inner-main .inner-item .inner-image img {
    width: 100%;
}

.pets-showcase .inner-main .inner-item .inner-info {
    padding: 8px 8px 20px 8px;
}

.pets-showcase .inner-main .inner-item .inner-info .inner-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--neutral-color-100);
    margin-bottom: 4px;
}

.pets-showcase .inner-main .inner-item .inner-info .inner-description {
    font-size: 12px;
    color: var(--neutral-color-60);
    margin-bottom: 10px;
}

.pets-showcase .inner-main .inner-item .inner-info .inner-description span {
    font-size: 12px;
    font-weight: bold;
    color: var(--neutral-color-60);
    margin-right: 26px;
    margin-left: 6px;
}

.pets-showcase .inner-main .inner-item .inner-info .inner-description span:nth-child(2)::after {
    display: none;
}

.pets-showcase .inner-main .inner-item .inner-info .inner-price {
    font-size: 14px;
    font-weight: bold;
    color: var(--neutral-color-100);
}

/* Hero pets section */
.hero-pets .inner-wrap {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    padding-top: 36px;
    align-items: center;
}

.hero-pets .inner-wrap .inner-image {
    width: 40%;
    position: relative;
}

.hero-pets .inner-wrap .inner-image .inner-bg-five {
    position: absolute;
    width: calc(100% + 200px);
    top: 50px;
    left: 0;
}

.hero-pets .inner-wrap .inner-image img {
    width: 100%;
    margin-bottom: -6px;
}

.hero-pets .inner-wrap .inner-image img:first-child {
    position: relative;
    z-index: 1;
}

.hero-pets .inner-wrap .inner-content {
    width: 40%;
    position: relative;
}

.hero-pets .inner-wrap .inner-content .inner-title {
    font-size: 52px;
    color: var(--dark-blue);
    margin-bottom: 2px;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
}

.hero-pets .inner-wrap .inner-content .inner-sub-title {
    font-size: 36px;
    color: var(--dark-blue);
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
}

.hero-pets .inner-wrap .inner-content .inner-description {
    font-size: 12px;
    color: var(--neutral-color-80);
    margin-bottom: 24px;
    position: relative;
    max-width: 80%;
    z-index: 1;
}

.hero-pets .inner-content .inner-buttons .inner-button-left {
    padding: 14px 28px;
    margin-right: 20px;
    border-radius: 57px;
    font-size: 16px;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.hero-pets .inner-content .inner-buttons .inner-button-left i {
    font-size: 24px;
    margin-left: 8px;
}

.hero-pets .inner-content .inner-buttons .inner-button-right {
    padding: 14px 30px;
    border-radius: 57px;
    font-size: 16px;
    color: var(--neutral-color-0);
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    position: relative;
    z-index: 1;
}

.hero-pets .inner-wrap .inner-content .inner-bg-six {
    position: absolute;
    top: -135px;
    left: -180px;
}

/* Pet products section */
.pet-products {
    padding: 60px 0;
}

.pet-products .inner-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.pet-products .inner-head .inner-content .inner-sub-title {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 2px;
}

.pet-products .inner-head .inner-content .inner-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue);
}

.pet-products .inner-head .inner-button {
    padding: 12px 28px;
    font-size: 14px;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 57px;
}

.pet-products .inner-main {
    display: flex;
    flex-wrap: wrap;
}

.pet-products .inner-main .inner-item {
    width: calc(100%/4 - 84px/4);
    padding: 8px 8px 0 8px;
    border-radius: 12px;
    margin-right: 28px;
    margin-bottom: 20px;
    box-shadow: 0 4px 28px -2px rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
}

.pet-products .inner-main .inner-item:nth-child(4n) {
    margin-right: 0;
}

.pet-products .inner-main .inner-item .inner-image {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 8px;
}

.pet-products .inner-main .inner-item .inner-image img {
    width: 100%;
}

.pet-products .inner-main .inner-item .inner-info {
    padding: 8px 8px 20px 8px;
}

.pet-products .inner-main .inner-item .inner-info .inner-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--neutral-color-100);
    text-transform: capitalize;
    margin-bottom: 4px;
}

.pet-products .inner-main .inner-item .inner-info .inner-description {
    font-size: 12px;
    color: var(--neutral-color-60);
    margin-bottom: 10px;
}

.pet-products .inner-main .inner-item .inner-info .inner-description span {
    font-size: 12px;
    font-weight: bold;
    color: var(--neutral-color-60);
    margin-left: 6px;
    margin-right: 8px;
    position: relative;
}

.pet-products .inner-main .inner-item .inner-info .inner-price {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--neutral-color-100);
}

.pet-products .inner-main .inner-item .inner-gif {
    padding: 6px 10px;
    border-radius: 8px;
    background-color: var(--moon-yellow-40);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pet-products .inner-main .inner-item .inner-gif img {
    width: 20px;
    height: 20px;
    margin-right: 24px;
}

.pet-products .inner-main .inner-item .inner-gif span {
    font-size: 14px;
    font-weight: bold;
    color: var(--dark-blue-80);
}

/* Pet sellers section */
.pet-sellers {
    padding: 40px 0;
}

.pet-sellers .inner-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pet-sellers .inner-head .inner-content {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 2px;
}

.pet-sellers .inner-head .inner-content span {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue);
}

.pet-sellers .inner-head .inner-button {
    padding: 12px 28px;
    font-size: 14px;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 57px;
}

.pet-sellers .inner-main {
    display: flex;
    margin-bottom: 40px;
}

.pet-sellers .inner-main .inner-item {
    width: calc(100%/7 - 120px/7);
    margin-right: 20px;
}

.pet-sellers .inner-main .inner-item:last-child {
    margin-right: 0;
}

.pet-sellers .inner-main .inner-item img {
    width: 100%;
}

/* Adoption section */
.adoption .inner-wrap {
    background-color: #FFB775;
    border-radius: 20px;
    display: flex;
    padding-left: 80px;
    overflow: hidden;
}

.adoption .inner-wrap .inner-content {
    width: 50%;
    margin-right: 80px;
    position: relative;
}

.adoption .inner-wrap .inner-content .inner-bg-seven {
    width: calc(100% + 200px);
    position: absolute;
    top: -1vw;
    left: -15vw;
}

.adoption .inner-wrap .inner-content .inner-title {
    font-size: 52px;
    font-weight: bold;
    color: var(--dark-blue);
    margin-bottom: 2px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.adoption .inner-wrap .inner-content .inner-sub-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--dark-blue);
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
}

.adoption .inner-wrap .inner-content .inner-description {
    font-size: 12px;
    color: var(--neutral-color-80);
    margin-bottom: 42px;
    max-width: 50%;
    position: relative;
    z-index: 1;
}

.adoption .inner-wrap .inner-image {
    width: 40%;
    position: relative;
}

.adoption .inner-wrap .inner-image .inner-bg-eight {
    position: absolute;
    top: 5vw;
    left: -35vw;
}

.adoption .inner-wrap .inner-image .adoption-image {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.adoption .inner-content .inner-buttons {
    margin-bottom: 56px;
}

.adoption .inner-content .inner-buttons .inner-button-left {
    padding: 14px 28px;
    margin-right: 20px;
    border-radius: 57px;
    font-size: 16px;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.adoption .inner-content .inner-buttons .inner-button-left i {
    font-size: 24px;
    margin-left: 8px;
}

.adoption .inner-content .inner-buttons .inner-button-right {
    padding: 14px 30px;
    border-radius: 57px;
    font-size: 16px;
    color: var(--neutral-color-0);
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    position: relative;
    z-index: 1;
}